<div class="container-full">
  <div class="about">
    <div class="row">
      <div class="col-md-5">
        <div class="about-header">
          <h3>Unlike old and expensive BM <br>software, BizRaha is:</h3>
        </div>
        <div class="about-list">
          <ul>
            <li><i class="bi bi-check2"></i>Reduces the costs of implementing and maintaining your software</li>
            <li><i class="bi bi-check2"></i>Enables the reviewing of business-critical information in real time</li>
            <li><i class="bi bi-check2"></i>Adapts to your changing business requirements</li>
            <li><i class="bi bi-check2"></i>Offers you and your team a modern and intuitive user experience</li>
            <li><i class="bi bi-check2"></i>Simplifies every part of your operation and helps reduce costs</li>
            <li><i class="bi bi-check2"></i>Helps you and your management team focus on growing your business</li>
          </ul>
        </div>
      </div>
      <div class="col-md-7"></div>
    </div>
  </div>
</div>
