.navbar{
  height: 70px;
  background-color: #0086c3;
}
.navbar-brand{
  padding-left: 50px;
  font-size: 28px;
  font-family: 'Hammersmith One', sans-serif;
  color: black;
}
.navbar-nav{
  padding-left: 200px;
  margin: 70px;
  font-size: 18px;
}
.navbar-nav a{
  color: #212121;
  font-family: 'Rubik', sans-serif;
}
.btn{
  width: 180px;
  margin:10px;
}
