<nav class="navbar navbar-expand-md">
  <a href="#" class="navbar-brand">BizRaha</a>
  <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarCollapse">
    <div class="navbar-nav">
      <a href="#" class="nav-item nav-link active">About Us</a>
      <a href="#" class="nav-item nav-link">Products</a>
      <a href="#" class="nav-item nav-link">Reports</a>
      <a href="#" class="nav-item nav-link">Support</a>
    </div>
    <div class="navbar-nav ml-auto">
      <button class="btn btn-dark" style=""><a href="#" class="nav-item nav-link" style="color: white">Login</a></button>
      <button class="btn btn-warning"><a href="#" class="nav-item nav-link">Get Started</a></button>
    </div>
  </div>
</nav>
