<div class="container-full">
  <div class="hero">
    <div class="row">
      <div class="col-md-6">
        <div class="hero-img">
          <img src="../assets/images/4380.jpg" alt="brand Image">
        </div>
      </div>
      <div class="col-md-6">
        <div class="hero-header">
          <h2>The best way to run <br>your business.</h2>
          <div class="hero-sub-header">
            <p>Organize, Run, Monitor & Control in one app.</p>
          </div>
          <div class="header-button">
            <button type="button" class="btn btn-warning btn-lg">Try free</button>
            <button type="button" class="btn btn-light btn-lg">How it works</button>
          </div>

        </div>

      </div>
    </div>
  </div>
</div>
